
/* Mobile  (min-width: 320px) and*/
@media screen and (max-width: 767px){
    .business {
        display: none;
    }
}
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1199px){
    .business {
        display: none;
    }
}
/* Desktop */
@media screen and (min-width: 1200px){
    .business__list {
        display: flex;
    }
    .business__card {
        position: relative;

        &:not(:last-child) {
            margin-right: 30px;
        }
    }
    .business__img {
        display: block;
    }
    .business__description {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 70px;
        background-color: rgba(47, 48, 58, 0.8);
        padding: 27px 0;
        text-align: center;

        font-weight: var(--title-font-weight);
        font-size: var(--primary-font-size);
        line-height: 1.14;
       
        text-transform: uppercase;

        color: rgba(255, 255, 255, 1);
    }
}
